<!doctype html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: "Orchids | Orchids Overflow"}) %>
    <body>
        <div class="flex h-screen w-full">
            <%- include('../partials/sidebar.ejs') %>
            <main class="h-full w-full">
                <header class="flex h-20 w-full items-center bg-purple-100 p-3 px-16 shadow-md">
                    <h1 class="text-2xl font-semibold capitalize">Orchids List</h1>
                </header>
                <div class="p-10 flex flex-col">
                    <div class="mb-3 flex justify-between items-center">
                        There <%= orchids.meta.total === 1 ? 'is' : 'are' %> <%= orchids.meta.total %> orchid<%= orchids.meta.total === 1 ? '' : 's' %>. <% if
                        (user && user.isAdmin) { %>
                        <a href="/orchids/create">
                            <button class="rounded-lg bg-purple-500 p-3 text-white">Create</button>
                        </a>
                        <% } %>
                    </div>
                    <table class="min-w-full bg-purple-100 rounded-lg">
                        <thead class="bg-purple-800 text-white rounded-t-lg">
                            <tr>
                                <th class="w-5 px-4 py-3 text-left text-sm font-semibold">No.</th>
                                <th class="px-4 py-3 text-left text-sm font-semibold">Name</th>
                                <th class="w-40 px-4 py-3 text-left text-sm font-semibold">Image</th>
                                <th class="px-4 py-3 text-left text-sm font-semibold">Price</th>
                                <th class="px-4 py-3 text-left text-sm font-semibold">Origin</th>
                                <th class="px-4 py-3 text-left text-sm font-semibold">Is Natural</th>
                                <th class="px-4 py-3 text-left text-sm font-semibold">Color</th>
                                <th class="px-4 py-3 text-left text-sm font-semibold">Category</th>
                                <% if (user && user.isAdmin) { %>
                                <th class="px-4 py-3 text-left text-sm font-semibold">Action</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                            <% orchids.data.forEach((element, index) => { %>
                            <tr class="<%= index % 2 === 0 && 'bg-purple-50' %>">
                                <td class="w-5 px-4 py-3 text-center"><%= (index + 1) + orchids.meta.limit * orchids.meta.page %></td>
                                <td class="px-4 py-3 text-left" title="<%= element.name %>">
                                    <div class="whitespace-nowrap overflow-hidden text-ellipsis" style="width: 10vw"><%= element.name %></div>
                                </td>
                                <td class="w-40 px-4 py-3 text-left">
                                    <button data-image="<%= element.image %>" id="image-modal-open" class="hover:opacity-50 transition-all" title="View Image">
                                        <img src="<%= element.image %>" alt="<%= element.name %>" class="w-20 h-20 rounded-lg" />
                                    </button>
                                </td>
                                <td class="px-4 py-3 text-left" title="<%= element.price %>">
                                    <div class="whitespace-nowrap overflow-hidden text-ellipsis" style="width: 5vw">$<%= element.price %></div>
                                </td>
                                <td class="px-4 py-3 text-left" title="<%= element.origin %>">
                                    <div class="whitespace-nowrap overflow-hidden text-ellipsis" style="width: 10vw"><%= element.origin %></div>
                                </td>
                                <td class="px-4 py-3 text-left">
                                    <% if (element.isNatural) { %>
                                    <i class="ph-bold ph-check scale-125"></i>
                                    <% } %>
                                </td>
                                <td class="px-4 py-3 text-left" title="<%= element.color %>">
                                    <div class="whitespace-nowrap overflow-hidden text-ellipsis" style="width: 10vw"><%= element.color %></div>
                                </td>
                                <td class="px-4 py-3 text-left" title="<%= element.color %>">
                                    <div class="whitespace-nowrap overflow-hidden text-ellipsis" style="width: 10vw"><%= element.category?.name %></div>
                                </td>

                                <% if (user && user.isAdmin) { %>
                                <td class="px-4 py-3 text-left group">
                                    <div class="relative group w-min">
                                        <button class="relative hover:bg-slate-200/50 group-hover:bg-slate-200/50 rounded-lg p-3">
                                            <i class="ph-fill ph-dots-three-outline-vertical"></i>
                                        </button>
                                        <div class="absolute hidden group-hover:flex right-0 z-10 flex-col gap-3 p-1 bg-white rounded-lg shadow-lg">
                                            <a href="/orchids/update/<%= element.id %>" class="hover:bg-purple-50 transition-all w-full h-full p-1 px-6">
                                                <button id="orchid-update" data-id="<%= element.id %>">Update</button>
                                            </a>
                                            <button
                                                id="orchid-delete"
                                                data-id="<%= element.id %>"
                                                class="border-2 border-red-500 text-black p-1 px-6 transition-all rounded-lg hover:bg-red-500 hover:text-white"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <% } %>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <div class="flex items-center justify-center bg-purple-100 p-3 rounded-lg shadow-lg" style="position: fixed; right: 10px; bottom: 10px">
                        <div class="flex items-center justify-center space-x-4">
                            <button
                                id="orchids-list-prev"
                                data-page="<%= orchids.meta.page %>"
                                class="cursor-pointer rounded-md border bg-gray-100 px-2 py-1 text-3xl leading-6 text-slate-400 shadow-sm transition hover:bg-gray-200 hover:text-slate-500 disabled:opacity-50 disabled:cursor-not-allowed"
                            >
                                &lt;
                            </button>
                            <div class="text-slate-500"><%= orchids.meta.page + 1 %> / <%= orchids.meta.totalPages %></div>
                            <button
                                id="orchids-list-next"
                                data-page="<%= orchids.meta.page %>"
                                data-total="<%= orchids.meta.totalPages %>"
                                class="cursor-pointer rounded-md border bg-gray-100 px-2 py-1 text-3xl leading-6 text-slate-400 shadow-sm transition hover:bg-gray-200 hover:text-slate-500 disabled:opacity-50 disabled:cursor-not-allowed"
                            >
                                &gt;
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <dialog id="image-modal" style="border-radius: 10px; position: relative">
            <div
                style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: black; opacity: 0.5; z-index: 0"
                id="image-modal-backdrop"
            ></div>
            <div style="position: relative; z-index: 50; background-color: white">
                <div style="padding: 5px">
                    <button id="image-modal-close" style="font-size: 24px; font-weight: bold">X</button>
                </div>
                <img id="img" style="max-width: 600px; max-height: 450px; border-radius: 0 0 10px 10px" />
            </div>
        </dialog>
        <script src="/script/orchids.js"></script>
    </body>
</html>
