<!doctype html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: "Create Orchid | Orchids Overflow"}) %>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <div id="current-action" data-current="<%= !!orchid ? 'update' : 'create' %>" />
        <div id="orchid-id" data-id="<%= !!orchid ? orchid._id : '' %>" />

        <div class="bg-slate-700 h-screen w-full">
            <section class="p-3 sm:p-5">
                <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
                    <section class="mb-5">
                        <h3 class="text-3xl font-bold dark:text-white"><%= !!orchid ? 'Update' : 'Create' %> an Orchid</h3>
                    </section>
                    <div class="flex flex-col">
                        <form class="flex flex-col gap-3" id="orchid-create-form">
                            <div>
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                <input
                                    type="text"
                                    id="name"
                                    name="name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="e.g., Test Orchid"
                                    value="<%= orchid ? orchid.name : '' %>"
                                    required
                                />
                            </div>
                            <div>
                                <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                <input
                                    type="number"
                                    id="price"
                                    name="price"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="e.g., 1000"
                                    value="<%= orchid ? orchid.price : 0 %>"
                                    required
                                />
                            </div>
                            <div class="flex gap-5">
                                <div class="w-full">
                                    <label for="origin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Origin</label>
                                    <input
                                        type="text"
                                        id="origin"
                                        name="origin"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="e.g., USA"
                                        value="<%= orchid ? orchid.origin : '' %>"
                                        required
                                    />
                                </div>
                                <div class="w-full">
                                    <label for="color" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Color</label>
                                    <input
                                        type="text"
                                        id="color"
                                        name="color"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="e.g., Brown"
                                        value="<%= orchid ? orchid.color : '' %>"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="w-full">
                                <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</label>
                                <input
                                    type="text"
                                    id="image"
                                    name="image"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="e.g., www.unsplash.com"
                                    value="<%= orchid ? orchid.image : '' %>"
                                    required
                                />
                            </div>

                            <div>
                                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                                <select
                                    id="category"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                >
                                    <% categories.forEach((category, index) => { %>
                                    <% if (!!orchid && category.name === orchid.category.name) { %>
                                    <option selected value="<%= category.name %>"><%= category.name %></option>
                                    <% } else { %>
                                    <option value="<%= category.name %>"><%= category.name %></option>
                                    <% } %>
                                    <% }) %>
                                </select>
                                <% if (categories.length === 0) { %>
                                <div>There are no categories <a href="/categories/create">Create Category</a></div>
                                <% } %>
                            </div>

                            <div class="my-3">
                                <label class="inline-flex items-center cursor-pointer">
                                    <% if (orchid && orchid.isNatural) { %>
                                    <input id="isNatural" type="checkbox" value="" checked class="sr-only peer" />
                                    <% } else { %>
                                    <input id="isNatural" type="checkbox" value="" class="sr-only peer" />
                                    <% } %>
                                    <div
                                        class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-primary-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                                    ></div>
                                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Is the orchid natural?</span>
                                </label>
                            </div>

                            <button
                                type="button"
                                id="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-5"
                            >
                                <%= !!orchid ? 'Update' : 'Create' %>
                                Orchid
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

    <script src="/script/orchids-create.js"></script>
</html>
